<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sublate.scheduleprovider"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <receiver
            android:name="com.sublate.scheduleprovider.Receiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.sublate.schedulelistener.ALARM_TRIGGER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
